body{
    background-image: url('https://abs.twimg.com/images/themes/theme1/bg.png');
    background-repeat: no-repeat;
    background-color: #c0deed;


}

#box-left {
    float:left;
    position:relative;
    border: 1px solid transparent;
    margin-bottom: 5px;
    margin-left:26.5%;
    background-color: white;
    width:30%;
    border-radius: 5px 5px 5px 5px;
    height:80%;
}

#profile-details{
    font-size:medium;
}

.main_table{
    width:100%;
}

#main-navbar{
    list-style-type: none;
    font-size-adjust: 0.5;
    background-color:white;
    padding:10px;
    border: 0.5px solid black;
    position:fixed;
    width:100%;
    top:0.1px;
    left:0;
    height:35px;
    padding-top:15px;
    z-index:100;
}

#main-navbar li{
    display: inline;
    font-size: 14px;
    margin-left:30px;
}

#main-navbar #search-form{
    float:right;
    position:fixed;
    top:25px;
    right:15px;
    font-size:14px;
}

.main_table td{
    padding:10px;
    border-bottom: 1px solid #e0e0e0;
}

#stats-nav{
    display: inline;
    list-style-type: none;
    font-size-adjust: 0.5;
}

#tweet-date{
    color:#e0e0e0;
}
#tweeter{
    font-weight:bold;
}
#profile-title{
    text-align: center;
    color:white;
    width:30%;
    margin-left:26.5%;
    position:relative;
    border: 1px solid transparent;
    background-image: url('https://abs.twimg.com/a/1391236451/img/t1/grey_header_web.jpg');
    border-radius: 5px 5px 5px 5px;
    border: 1px solid transparent;
    font-size: x-large;
    font-family: sans-serif;
}
#box-right{
    float:left;
    margin-left:2%;
    margin-right:26%;
    position:relative;
    border: 1px solid transparent;
    background-color: white;
    width:15%;
    text-align:left;
    border-radius: 5px 5px 5px 5px;
    height:80%;
}

#container{
    height:100%;
    padding-top:70px;
    z-index:0;
    
}

#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}


